{% extends 'navbar.html' %}

<head>
    <title> Types of Pokemons </title>
</head>

{% block content %}
<body class="bg-image">
    <div class="home-text">
        <h1>
            Welcome to Pokedex!!
        </h1>

        <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br> eius facere a nemo nam nulla pariatur, vitae
            deserunt eaque impedit quia atque saepe ut.<br> Minima similique blanditiis sed provident nobis! Lorem ipsum
            dolor sit, amet consectetur adipisicing elit.<br> Aliquam animi adipisci eligendi voluptates quam optio sed
            natus incidunt commodi enim quod eius iure, repellendus, impedit dolorum, inventore fugiat tempore corrupti?<br><br>
        </h2>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Quibusdam, repellendus?<br> Earum
            exercitationem sequi quia pariatur mollitia maxime veniam inventore praesentium dicta adipisci libero cumque
            dolores repellendus, porro explicabo saepe accusantium.<br> Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Sequi fugit, quos totam molestias incidunt voluptate eos odio, nam aspernatur praesentium
            pariatur consectetur.<br> Voluptates eveniet labore soluta necessitatibus nisi incidunt maxime?<br> Lorem ipsum
            dolor sit amet consectetur adipisicing elit.<br> Eveniet a cumque ipsa perspiciatis modi fugiat dignissimos,
            fugit magnam architecto adipisci corrupti, eum autem hic est molestias quis delectus id excepturi.<br><br>
        </h3>
    </div>
</body>
{% endblock %}

</html>