{% extends 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<head>
    <title> Types of Pokemons </title>
</head>
{% block content %}
<div class="bg-image">
    <div class="search-bar">
        <br><br><br><br><br>
        <br><br><br><br>
        <form method="POST" action={% url 'SearchedPokemon' %}>
            {% csrf_token %}
            <label for="fname">Enter the Pokemon or Type of Pokemon</label><br>
            <br>
            <input type="text" name="search" placeholder="Your Search" required/>
            <br>
            <input type="submit" value='Search' />
            <br><br><br><br><br>
            <br><br><br><br><br>
        </form>
    </div>
</div>
{% endblock %}