{% extends 'navbar.html' %}

{% block content %}
<div class="bg-single">
    <div class="single-text">
        <h1>{{ name| capfirst }}</h1>
        <img src={{ frontpic }}>
        <img src={{ backpic }}>
        <h1> Attacks possible for {{ name| capfirst }}: </h1>
        <ol>
            {% for m in moves %}
            <li>{{ m|capfirst }}</li>
            <br>
            {% endfor %}
        </ol>
        <h3>Weight of {{ name| capfirst }}: {{ weight }}</h3>
    </div>
</div>
{% endblock %}