<!DOCTYPE html>
{% extends 'navbar.html' %}
<head>
    <title> {{ type|capfirst }} Pokemon Information </title>
</head>
{% block content %}
<body class="bg-image">
    <div class="singletype">
        <h1> {{ type |capfirst }} type pokemon </h1>
        <h2>
            <ol>
                {% for n in names %}
                <li><a href="/pokemon/{{ n }}">{{ n|capfirst }}</a></li>
                <br>
                {% endfor %}
            </ol>
        </h2>
    </div>
</body>
{% endblock %}